* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cairo', Arial, sans-serif;
  overflow-x: hidden;
  font-size: 24px;
  direction: rtl;
}

@-webkit-keyframes hide {
  to {
    opacity: 0%;
  }
}

@keyframes hide {
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes rect-color-change {
  to {
    background-color: #3c8143;
  }
}

@keyframes rect-color-change {
  to {
    background-color: #3c8143;
  }
}

.page-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  z-index: 10;
}

.page-loader-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
}

.page-loader-hadeeth-loader {
  display: block !important;
  position: fixed;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
}

.grass {
  width: 100%;
  height: 112px;
  background-image: url("/imgs/grass.png");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  max-width: 1000px;
  margin: 120px auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hadeeth-text {
  margin: 30px;
}

.hadeeth-loader {
  margin-top: 60px;
}

.hadeeth-loader div {
  display: inline-block;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: #71c279;
  -webkit-animation: rect-color-change 500ms ease-in 0ms infinite alternate backwards;
          animation: rect-color-change 500ms ease-in 0ms infinite alternate backwards;
}

.hadeeth-loader div:nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.new-hadeeth {
  margin-top: 30px;
  background-color: #71c279;
  padding: .45em 2.5em;
  font-family: inherit;
  border: 2px solid black;
  color: white;
  font-size: 1em;
}

.new-hadeeth:hover, .new-hadeeth:active {
  cursor: pointer;
  background-color: #3c8143;
}

.hide {
  display: none;
}

footer {
  width: 98%;
  position: fixed;
  bottom: 30px;
  left: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-underline-offset: 7px;
  font-size: .75em;
  color: #7D7D7D;
}

a {
  color: inherit;
}

a:hover, a:active {
  color: #000000;
}

footer p:nth-of-type(1) {
  -ms-grid-column-align: right;
      justify-self: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a:nth-of-type(1) {
  -ms-grid-column-align: center;
      justify-self: center;
}

footer a:nth-of-type(2) {
  -ms-grid-column-align: left;
      justify-self: left;
}

@media screen and (max-width: 740px) {
  body {
    font-size: 22px;
  }
  footer {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > * {
    margin: 15px 0;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 19px;
  }
}
