@keyframes light
    0%
        text-shadow:  0px 0px 10px $green 
    100%
        text-shadow:  0px 0px 60px  $green

@keyframes hide
    0%
        opacity: 100%
    100%
        opacity: 0%
@keyframes move
    0%
        left: 0px
    100%
        left: 10.833333333em
@keyframes dot-color-change
    0%
        background-color: $light-green
    100%
        background-color: $green