.grass
    width: 100%
    height: 112px
    background-image: url('../imgs/grass.png')
    position: fixed
    top: 0
    left: 0
    z-index: 1

main 
    max-width: 1000px
    margin: 120px auto 60px auto
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
.hadeeth-text
    margin: 20px
.hadeeth-loader
    margin-top: 60px
.hadeeth-loader div
    display: inline-block
    margin: 0 2px
    width: 30px
    height: 30px
    background-color: $light-green
    animation: rect-color-change 500ms ease-in 0ms infinite alternate backwards
.hadeeth-loader div:nth-child(2)
    animation-delay: 500ms

.new-hadeeth
    margin-top: 30px
    background-color: $light-green
    padding: .45em 2.5em
    font-family: inherit
    border: 2px solid black
    color: white
    font-size: 1em
.new-hadeeth:hover, .new-hadeeth:active
    cursor: pointer
    background-color: $green

.hide
    display: none