// Colors
$light-green: #71c279
$green: #3c8143
$light-gray: #7D7D7D
$black: #000000

// Global Styling
* 
    padding: 0
    margin: 0
body
    font-family: 'Cairo', Arial, sans-serif
    overflow-x: hidden
    font-size: 24px
    direction: rtl
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    min-height: 100vh

// Imports
@import _animations.sass
@import _page_loader.sass
@import _main.sass
@import _footer.sass
@import _responsive.sass
